*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
html{

}
header{
    background-color: #f8e1db;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    color: #3a3735;
}
.container{
    width: 90%;
    margin: 0 auto;
}